<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="34d0f6de-2dff-4321-8e0b-926a86e98678"
    UpgradeCode="9c8fcd7b-4632-4872-99ad-18394618cc89"
    Name="SdlDotNet Gaming Library" Language="1033" Version="6.1.0.0"
    Manufacturer="SdlDotNet Project"
  >
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="SdlDotNet.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir" FileSource=".\">
      <Component Id="ProductComponentTaoSdl" Guid="29436d22-5bad-4f43-b1ea-1581167536a9">
        <File Id="Tao.Sdl" Name="Tao.Sdl.dll" DiskId="1" Assembly=".net"
    Source="../../dist/sdldotnet-6.1.0/assemblies/Tao.Sdl.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ProductComponentSdlDotNet" Guid="518485b5-beb7-4a5e-8483-c565c8974a9a">
        <File Id="SdlDotNet" Name="SdlDotNet.dll" DiskId="1" Assembly=".net"
    Source="../../dist/sdldotnet-6.1.0/assemblies/SdlDotNet.dll" KeyPath="yes"/>
      </Component>
    </Directory>
    
    <Feature Id="ProductFeature" Title="Main Feature" Level="1">
      <ComponentRef Id="ProductComponentTaoSdl" />
      <ComponentRef Id="ProductComponentSdlDotNet" />
    </Feature>

    <UIRef Id="WixUI_Mondo" />

  </Product>
</Wix>
