<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="573A70ED-BCB5-4199-9201-794B30ACD32E" UpgradeCode="EF625C80-B5CC-4723-AC6A-10163EE022AB" Name="SdlDotNet" Language="1033" Version="6.1.0.0" Manufacturer="SdlDotNet">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="SdlDotNet.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir" FileSource="..\..\..\dist\sdldotnet-6.1.0\bin\assemblies">
      <Component Id="ProductComponent" Guid="27af1a85-9a01-4c79-bdeb-d73fd4bd9574">
        <File Id="SdlDotNetDll" Name="SdlDotNet.dll" />
        <File Id="TaoSdlDll" Name="Tao.Sdl.dll" />
      </Component>
    </Directory>
    <Feature Id="ProductFeature" Title="Main Feature" Level="1">
      <ComponentRef Id="ProductComponent" />
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <UIRef Id="WixUI_InstallDir" />
    <UI>
      <InstallUISequence />
    </UI>
  </Product>
</Wix>