<configuration>
    <dllmap dll="opengl32.dll">
    	<dllentry target="libGL.so.1" />
    	<dllentry os="osx" target="/System/Library/Frameworks/OpenGL.framework/OpenGL" />
    </dllmap>
    <dllmap dll="glu32.dll">
    	<dllentry target="libGLU.so.1" />
    	<dllentry os="osx" target="/System/Library/Frameworks/OpenGL.framework/Libraries/libGLU.dylib" />
    </dllmap>
</configuration>
