<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="34d0f6de-2dff-4321-8e0b-926a86e98678"
    UpgradeCode="9c8fcd7b-4632-4872-99ad-18394618cc89"
    Name="SdlDotNet Gaming Library" Language="1033" Version="1.0.0.0"
    Manufacturer="SdlDotNet Project"
  >
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="SdlDotNet.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir" FileSource=".\">
      <Component Id="ProductComponent" Guid="13b4d0a3-2d1d-4f2d-8765-bd8043aee206">
        <File Id="f1" Name="License.rtf" />
      </Component>
    </Directory>

    <Feature Id="ProductFeature" Title="Main Feature" Level="1">
      <ComponentRef Id="ProductComponent" />
    </Feature>

    <UIRef Id="WixUI_Mondo" />

  </Product>
</Wix>
